.events-page {
    margin: 0 auto;
    max-width: 1035px;
    padding-bottom: 80px;

    @media screen and (max-width: $screen-lg) {
        padding: 0 40px 40px;
    }

    @media screen and (max-width: $screen-md) {
        margin-top: 45px;
    }

    @media screen and (max-width: $screen-xs) {
        margin-top: 67px;
        padding: 0 20px 20px;
    }

    &__title {
        font-size: $font-size-huge;
        font-weight: bold;
        margin: 33px 0;

        @media screen and (max-width: $screen-xs) {
            font-size: $font-size-big;
            margin: 0 0 20px 0;
        }
    }

    &__ribbon {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;

        @media screen and (max-width: $screen-lg) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media screen and (max-width: $screen-md) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: $screen-xs) {
            display: flex;
            flex-direction: column;
        }
    }
}