.events-page {
    margin: 0 auto;
    max-width: 1035px;
    padding-bottom: 80px;

    @media screen and (max-width: $screen-lg) {
        margin-top: 67px;
        padding-bottom: 0 20px 20px;
    }

    &__title {
        font-size: $font-size-huge;
        font-weight: bold;
        margin: 33px 0;

        @media screen and (max-width: $screen-lg) {
            font-size: $font-size-big;
            margin: 0 0 20px 0;
        }
    }

    &__ribbon {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
}