#main-page.main-page
    include ../header/header.pug
    .events-page
        .events-page__title Лента событий
        #ribbon.events-page__ribbon
    include ../footer/footer.pug
include ../sidebar/sidebar.pug

