.card {
    border-radius: 20px;
    background-color: $color-card-background;
    padding: 20px;
    color: $color-card-text-normal;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: $color-card-background-hover;
        box-shadow: 0 2px 6px 0 $color-card-shadow-hover;
    };

    @media screen and (max-width: $screen-xs) {
        padding: 20px 16px;
        margin-bottom: 16px;
    }

    &_s {
        grid-column: span 2;
    };

    &_m {
        grid-column: span 3;

        @media screen and (max-width: $screen-md) {
            grid-column: span 4;
        }
    };

    &_l {
        grid-column: span 4;

        @media screen and (max-width: $screen-lg) {
            grid-column: span 5;
        }

        @media screen and (max-width: $screen-md) {
            grid-column: span 4;
        }
    };

    &_with-image {
        grid-row: span 3;
    };

    &_critical {
        border-radius: 20px;
        background-color: $color-card-background-critical;
        color: $color-card-text-critical;

        &:hover {
            background-color: $color-card-background-critical;
        };
    };

    &__row {
        display: flex;
    };

    &__button {
        user-select: none;
        padding: 16px 53px;
        border-radius: 8px;
        font-weight: bold;
        color: $color-card-text-dark;
        background-color: $color-button;
        margin-left: 18px;
        font-size: $font-size-average;

        @media screen and (max-width: $screen-xs) {
            padding: 11px 53px;
        }

        &_accent {
            background-color: $color-button-accent;
            margin-left: 0;
        };

        &:hover {
            cursor: pointer;
            background-color: $color-accent-active;
        }
    };

    &__title {
        font-size: $font-size-big;
        font-weight: bold;
        margin-left: 20px;
        height: 50px;
        display: flex;
        align-items: center;

        @media screen and (max-width: $screen-xs) {
            font-size: $font-size-small;
            margin-left: 16px;
            margin-top: 3px;
            height: 36px;
        }
    };

    &__basic-info {
        margin: 15px 0 0 0;
        display: flex;
        justify-content: space-between;
        font-size: $font-size-medium;

        &_s {
            @media screen and (min-width: $screen-xs) {
                flex-direction: column;
                min-height: 62px;
            }
        }

        @media screen and (max-width: $screen-xs) {
            font-size: $font-size-tiny;
        }

        &_with-bottom-margin {
            margin-bottom: 20px;
        };
    };

    &__description {
        padding-top: 25px;
        font-size: $font-size-average;
        color: $color-card-text-dark;

        @media screen and (max-width: $screen-xs) {
            font-size: $font-size-medium;
            padding-top: 15px;
        }

        &_l {
            font-size: $font-size-big;

            @media screen and (max-width: $screen-xs) {
                font-size: $font-size-medium;
            }
        };
    };

    &__measurements {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-medium;
        padding-top: 22px;
        color: $color-card-text-dark;

        @media screen and (max-width: $screen-xs) {
            font-size: $font-size-small;
        }
    };

    &__details {
        margin: auto -21px -21px -21px;
        border-radius: 20px;
        color: $color-card-text-dark;
        background-color: $color-card-background;
        padding: 20px;
        font-size: $font-size-average;

        &:hover {
            background-color: $color-card-background-hover;
            box-shadow: 0 2px 6px 0 $color-card-shadow-hover;
        };

        @media screen and (max-width: $screen-xs) {
            padding: 16px 16px 20px;
            font-size: $font-size-medium;
        }
    };

    &__last-element {
        padding-top: 20px;
        margin: auto 0 0;

        @media screen and (max-width: $screen-xs) {
            padding-top: 16px;
        }
    }

    &__image-container {
        padding-top: 30px;
    }

    &__image {
        user-select: none;

        &_icon {
            // For Edge
            max-width: 48px;

            @media screen and (max-width: $screen-xs) {
                max-width: 36px;
            }
        }

        &_attachement {
            border-radius: 20px;
            height: 100%;
            width: 100%;
        }
    }
}