.player
    img(src='./images/album-cover.png').player__logo
    .player__name Florence & The Machine - Big God
    input(type="range" id="time" name="time" min="0" max="100" value="10" step="1").player__time
    .player__value.player__value_time 4:31
    .player__button.player__button_prev
    .player__button.player__button_next
    input(type="range" id="volume" name="volume" min="0" max="100" value="80" step="1").player__volume
    .player__value.player__value_volume 80%