.main-page {
    background-color: $color-background;
    display: grid;
    grid-template-areas: 
        "header"
        "events-page"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 92px 1fr 64px;
    height: 100vh;
    width: 100%;
}