doctype html
html
    head
        meta(http-equiv='content-type' content='text/html' charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="noindex")
        title Яндекс Дом
        link(rel="stylesheet" href="./styles.css")
    body#body.body
        include ./blocks/events-page/events-page.pug
        include ./blocks/player/player.pug
        include ./blocks/measurement/measurement.pug
    script(src="https://code.jquery.com/pep/0.4.3/pep.js")
    script(src="scripts/ts-cast.js" type="application/javascript")
    script(src="scripts/card-main.js" type="module")
    script(src="scripts/gestures-main.js" type="module")
    script(src="scripts/header.js" type="module")
    script(src="scripts/nav.js" type="application/javascript")
    script(src="scripts/sidebar.js" type="application/javascript")