.header
    .header__logo
        img(src='./images/Logo@1x.png')
    ul.header__nav.nav
        a.nav__item.nav__item_horizontal.nav__item_big(href='./index.html') События
        a.nav__item.nav__item_horizontal.nav__item_big(href='./video.html') Видеонаблюдение
        each item in ['Сводка', 'Устройства', 'Сценарии']
            li.nav__item.nav__item_horizontal.nav__item_big= item
    button#toggle-sidebar.header__expander
