$color-background: #FFF;
$color-header-border: #F0F0F0;
$color-card-background: #FAFAFA;
$color-card-background-hover: #F3F3F3;
$color-card-background-critical: #DB5341;
$color-card-text-critical: #FFF;
$color-card-text-dark: #000;
$color-card-text-normal: #333;
$color-faded-text: #858585;
$color-accent-active: #FFCD00;
$color-button-accent: #FFD93E;
$color-button: #E5E5E5;
$color-slider-thumb-time: #D8D8D8;
$color-slider-thumb-volume: #605757;
$color-slider-track-time: #979797;

$color-slider-track-volume: rgba(216,216,216,0.30);
$color-player-value: rgba(161,161,161,0.84);
$color-card-shadow-hover: rgba(197,186,186,0.50);

$font-size-tiny: 12px;
$font-size-miniature: 13px;
$font-size-small: 14px;
$font-size-compact: 16px;
$font-size-medium: 18px;
$font-size-average: 20px;
$font-size-big: 24px;
$font-size-large: 27px;
$font-size-huge: 36px;
$font-size-gigantic: 66px;

$screen-xs: 650px;
$screen-md: 910px;
$screen-lg: 1100px;


