.video-page {
    margin: 100px auto 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 230px);
    grid-gap: 20px;
    align-items: center;

    &__video {
        max-width: 300px;
        transition: transform .3s;

        &_opened {
            transition: transform .3s;
            transform-origin: center center;
        }
    }
}

.video-controls {
    background-color: $color-background;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    position: fixed;
    bottom: 90px;
    transition: .3s;
    visibility: hidden;
    width: 70%;
    font-weight: bold;
    padding: 30px;
    left: 15%;
    background-color: $color-card-background;
    box-shadow: 0 2px 6px 0 $color-card-shadow-hover;
    border-radius: 20px;
    z-index: 99;

    &_opened {
        opacity: 1;
        visibility: visible;
    }

    &__progress {
        width: 200px;
    }

    &__input {
        max-width: 150px;
        outline: none;

        -webkit-appearance: none;
        width: 100%;
        background: transparent;
        margin-top: 0;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            background: $color-slider-thumb-volume;
            cursor: pointer;
            margin-top: -5px;
        }
          
        &::-moz-range-thumb {
            height: 16px;
            width: 16px;
            border-radius: 8px;
            background: $color-slider-thumb-volume;
            cursor: pointer;
        }
          
        &::-ms-thumb {
            margin-top: -1px;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            background: $color-slider-thumb-volume;
            cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            background: $color-slider-track-volume;
        }
          
        &::-moz-range-track {
            width: 100%;
            height: 2px;
            cursor: pointer;
            background: $color-slider-track-volume;
        }
          
        &::-ms-track {
            width: 100%;
            height: 2px;
            cursor: pointer;
            background: $color-slider-track-volume;
        }
    }
}